doctype html
html lang="en"
  head
    meta charset="UTF-8"
    title Url Shortener
    link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" /
    link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" /
    link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" /

  body
    .container
      == yield
