.Manage
  h1 New URL

  form action="/manage/" method="post"
    == csrf_tag

    .form-group
      label.form-label[for="slug"] Slug
      input.form-input name="slug" type="text" /
    .form-group
      label.form-label[for="destination"] Destination URL
      input.form-input name="destination" type="url" required="true" /
    .form-group
      input.btn.btn-primary.input-group-btn type="submit" value=("Add item!") /

  .divider

  - if urls.any?
    h1.badge[data-badge=urls.count]
      | URLs

    table.table
      thead
        tr
          th Slug
          th URL
          th Count
          th Type
          th Actions
      tbody
        - urls.each do |url|
          tr
            td
              a[href="/#{url.slug}" target="_blank"]
                = url.slug
            td
              a[href=url.destination target="_blank"]
                = url.destination
            td= url.count
            td= url.custom? ? "Custom" : "Random"
            td
              form action="/manage/delete/#{url.slug}" method="post"
                == csrf_tag
                button.btn.btn-action.btn-error.btn-sm[type="submit"]
                  i.icon.icon-delete
